/* ---------------------------------------------
HEADER NAVIGATION SECTIONN */

.name-title-about {
    position: sticky;
    top: 0;
    height: 9rem;
    background-color: transparent;
}

.nav-about {
    padding: 2rem 5rem 0 0;
}

.nav-about ul {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    list-style-position: inside;
}

.nav-about a,
.current-page {
    font-family: Heebo, sans-serif;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    font-weight: lighter;
}  

.nav-about li {
    transition: all 300ms ease;
}

.nav-about li:hover {
    transform: translateY(-0.5rem);
    border-bottom: 1px solid rgb(204, 86, 174);
}

.nav-about .current-page {
transform: translateY(-0.5rem);
border-bottom: 1px solid rgb(204, 86, 174);
}

/* ---------------------------------------------
MAGAZINE COVER AREA */

.about-info {
    display: flex;
}

.hero-about {
    width: 100%;
    height: calc(100vh - 9rem);
    position: relative;
    text-align: center;
}

.hero-about h1 {
    position: relative;
    top: 20rem;
    left: 0;
    right: 0;
    font-family: Merriweather, serif;
    font-size: 15rem;
    text-decoration: underline rgb(204, 86, 174);
    text-decoration-thickness: 1.1rem;
    text-align: center;
    z-index: -1;
}

.title-about{
    width: 110rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20rem;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}

.title-about h3 {
    font-family: Raleway, sans-serif;
    font-size: 6.5rem;
    font-weight: lighter;
    text-align: center;
}

#profile-picture-container {
    width: 70rem;
    height: 76rem;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: -5rem;
    justify-content: center;
    align-items: top, center;
    overflow: hidden;
    transform: rotate(5deg);
    /*border: 10px dashed rgb(255, 0, 0);*/
}

#profile-picture-border {
    width: 60rem;
    height: 75rem;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 3rem;
    bottom: -8.3rem;
    justify-content: center;
    align-items: top, center;
    transform: rotate(5deg);
    border: 1rem dashed rgb(121, 46, 117);
    z-index: -2;
}

#profile-picture {
    height: 80rem;
    position: relative;
    background-image: url(../Images/profile-picture.png);
    background-size: 80rem, cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-5deg);
}

/* ---------------------------------------------
ABOUT CONTENT AREA */

.about-text {
    margin: 5rem 0 0 5rem;
}

.about-text .about-hi p {
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    font-size: 6rem;
}

.about-text .about-name p {
    margin: 1rem 0 0 1rem;
    font-family: Heebo, sans-serif;
    font-size: 2.5rem;
}

.about-text .about-yea p {
    margin: 3rem 0 0 20rem;
    font-family: heebo, sans-serif;
    font-size: 1.5rem;
}

.about-intro {
    margin: 3rem 0 0 0;
}




/*
/* MOBILE PHONE SHIT 
<600px
@media only screen and (max-width: 600px) {

    .about-text {
        margin: 0 0 0 11rem;
    }

    .profile-picture {
        position: absolute;
        top: 22rem;
        width: 11rem;
        height: 11rem;
        border-radius: 15rem;
        border: 3px solid rgb(196, 94, 170);
        background-image: url(../Images/profile-picture.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .about-text .about-hi p {
        font-family: Merriweather, sans-serif;
        text-transform: uppercase;
        font-size: 2.7rem;
    }
    
    .about-text .about-name p {
        margin: 0.1rem 0 0 1rem;
        font-family: Heebo, sans-serif;
        font-size: 1.5rem;
    }
    
    .about-text .about-yea p {
        margin: 1rem 0 0 5rem;
        font-family: heebo, sans-serif;
        font-size: 1rem;
    }
}

/* MOBILE PHONE SHIT 
<601px, 768px  
@media only screen and (min-width: 601px) and (max-width: 768px) {

    .about-text {
        margin: 0 0 0 16rem;
    }

    .profile-picture {
        position: absolute;
        top: 25rem;
        width: 15rem;
        height: 15rem;
        border-radius: 15rem;
        border: 3px solid rgb(196, 94, 170);
        background-image: url(../Images/profile-picture.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .about-text .about-hi p {
        font-family: Merriweather, sans-serif;
        text-transform: uppercase;
        font-size: 3.5rem;
    }
    
    .about-text .about-name p {
        margin: 0.1rem 0 0 1rem;
        font-family: Heebo, sans-serif;
        font-size: 2rem;
    }
    
    .about-text .about-yea p {
        margin: 1rem 0 0 5rem;
        font-family: heebo, sans-serif;
        font-size: 1.5rem;
    }
}


/* MOBILE PHONE SHIT 
<769px, 992px  
@media only screen and (min-width: 769px) and (max-width: 992px) {
    
    .about-text {
        margin: 0 0 0 22rem;
    }

    .profile-picture {
        position: absolute;
        top: 27rem;
        width: 20rem;
        height: 20rem;
        border-radius: 15rem;
        border: 3px solid rgb(196, 94, 170);
        background-image: url(../Images/profile-picture.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .about-text .about-hi p {
        font-family: Merriweather, sans-serif;
        text-transform: uppercase;
        font-size: 4.5rem;
    }
    
    .about-text .about-name p {
        margin: 0.1rem 0 0 1rem;
        font-family: Heebo, sans-serif;
        font-size: 2.5rem;
    }
    
    .about-text .about-yea p {
        margin: 1rem 0 0 5rem;
        font-family: heebo, sans-serif;
        font-size: 1.5rem;
    }
}

/* MOBILE PHONE SHIT 
<993px, 1200px  
@media only screen and (min-width: 993px) and (max-width: 1400px) {

    .about-text {
        margin: 0 0 0 32rem;
    }
        
    .profile-picture {
        position: absolute;
        top: 28rem;
        width: 30rem;
        height: 30rem;
        border-radius: 35rem;
        border: 3px solid rgb(196, 94, 170);
        background-image: url(../Images/profile-picture.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .about-text .about-hi p {
        font-family: Merriweather, sans-serif;
        text-transform: uppercase;
        font-size: 5rem;
    }
    
    .about-text .about-name p {
        margin: 1rem 0 0 1rem;
        font-family: Heebo, sans-serif;
        font-size: 2.5rem;
    }
    
    .about-text .about-yea p {
        margin: 3rem 0 0 20rem;
        font-family: heebo, sans-serif;
        font-size: 1.5rem;
    }
}
*/